{% extends 'base.html' %}
{% block body %}
 {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
 
  <style>
      body {
        background: black;
        background: -moz-linear-gradient(
          left,
          RGBA(244, 33, 86, 1) 0%,
          RGBA(0, 114, 210, 1) 100%
        );
        background: -webkit-linear-gradient(
          left,
          RGBA(244, 33, 86, 1) 0%,
          RGBA(0, 114, 210, 1) 100%
        );
        background: linear-gradient(
          to right,
          RGBA(244, 33, 86, 1) 0%,
          RGBA(0, 114, 210, 1) 100%
        );
        background: filter progid:
          DXImageTransform.Microsoft.gradient(
            startColorstr= "#f42156",
            endColorstr= "#f42156",
            GradientType=1
          );
      }

      .box {
        position: relative;
        transition: all 0.2s ease-out 0s;
      }
      .box .box-content,
      .box:after {
        position: absolute;
        left: 20px;
        right: 20px;
      }
      .box:after {
        content: "";
        display: block;
        background: #463f9f;
        top: 20px;
        bottom: 20px;
        opacity: 0;
        transform: rotate3d(-1, 1, 0, 100deg);
        transition: all 0.4s ease-in-out 0s;
      }
      .box:hover:after {
        opacity: 0.9;
        transform: rotate3d(0, 0, 0, 0deg);
      }
      .box img {
        width: 350px;
        height: 350px;
      }
      .box .box-content {
        text-align: center;
        top: 45%;
        opacity: 0;
        z-index: 1;
        -webkit-transform: translate(10%, -30%);
        transform: translate(10%, -30%);
        transition: all 0.2s ease-out 0s;
      }
      .box:hover .box-content {
        opacity: 1;
        transform: translate(0, -50%);
        transition-delay: 0.2s;
      }
      .box .title {
        display: block;
        font-size: 22px;
        font-weight: 700;
        color: #39b54a;
        margin: 0 0 10px;
      }
      .box .post {
        display: block;
        font-size: 15px;
        color: #f7f7b9;
        margin-bottom: 20px;
      }
      .badge {
        text-align: center;
      }
    </style>

 <div class="container my-5 pt-5">
      <div class="row">
        <h1 class="text">
          <span class="badge badge-warning">Restaurant partner</span>
        </h1>
      </div>
      <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
          <div class="box">
            <img
              src="http://bestjquery.com/tutorial/hover-effect/demo125/images/img-1.jpg"
            />
            <div class="box-content">
              <h3 class="title">Williamson</h3>
              <span class="post">Web Designer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box">
            <img
              src="http://bestjquery.com/tutorial/hover-effect/demo125/images/img-2.jpg"
            />
            <div class="box-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box">
            <img
              src="http://bestjquery.com/tutorial/hover-effect/demo125/images/img-3.jpg"
            />
            <div class="box-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="text">
          <span class="badge badge-warning">Restaurant staff</span>
        </h1>
      </div>
      <div class="row mt-30 my-4">
        <div class="col-md-4 col-sm-6">
          <div class="box">
            <img height="350px" width="350px" src="table1.jpg" />
            <div class="box-content">
              <h3 class="title">Williamson</h3>
              <span class="post">Web Designer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box">
            <img
              src="http://bestjquery.com/tutorial/hover-effect/demo125/images/img-2.jpg"
            />
            <div class="box-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box">
            <img
              src="http://bestjquery.com/tutorial/hover-effect/demo125/images/img-3.jpg"
            />
            <div class="box-content">
              <h3 class="title">Kristiana</h3>
              <span class="post">Web Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>







{% endblock body %}